<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Find out a little more about me as an individual or as a developer using the links below. Feel free to leave comments or questions.</p>
  </div>
  <div class="sidebar-module">
    <h4>Social Links</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/Ajrasband"<%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/ajrasband/"<%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100006235787997"<%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</div>