<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Take a look around, see what you like! I worked a long time on some of these projects and I hope that you can appreciate what I have created for yourself. Be sure to explore my other pages as well.</p>
    <p>
      <%= link_to "More About Me", about_path, class: "btn btn-primary" %>
      <%= link_to "My Blog", blogs_path, class: "btn btn-danger" %>
    </p>
  </div>
</section>