<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "IMG_6731.jpeg", width: 290, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>I was born in New York and grew up all around the Utah Valley and Salt Lake regions. I have been taught ever since I was little the value in hard work and time, and it's motivated me to try everything that I could. I played numerous sports, explored numerous educational opportunities, and tried making personalities fit certain trends. Now, as an 18 year old Freshman at BYU University, I know who I am and what I want to do.</p>
    <p>I have a deep passion for creation and the power that it holds. You look up in the night sky and marvel about how that was made. You hold a new born in your arms and think of everything that happened in only 9 months to create this child. These feelings are some of the most personal and powerful feelings that an individual can feel connections too. And I believe that any project I create can have that same kind of effect.</p>
  </div>
</div>
