<div class="inner cover">
  <h1 class="cover-heading">Code To Sucess</h1>
  <p class="lead">Nothing ever comes from nothing. The ancient Chinese had a saying, "A man can stand for a long time with his mouth open before a roast duck will fly in."</p>
  <p class= "lead">I don't stand around. I do. This webiste will show you a little bit about how exatly I make that happen.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



